@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url('../assets/images/ui/noise.png');
  background-size: 200px 200px;
  background-repeat: repeat;
}

html {
  scroll-behavior: smooth;
  @apply scroll-mt-20;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--jost), 'Nunito', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .font-jost {
    font-family: var(--jost), 'Nunito', sans-serif;
  }
}
